body{
    padding-top:30px;
}
.row>div {
    border: 1px black solid;
}
h1{
    text-align: center;
}
#selector{
    padding:10px 0;
    border: 2px #0ae41c solid;
    position: fixed;
    left: 0;
    top: 20px;
    float: left;
}
#selector li{
    margin: 10px 0;
    border-bottom: 1px #898a89 solid;
}
.navbar{
    font-weight: bold;
    font-size: 16px;
   opacity: 0.9;
}
.container{
    padding: 0 80px;
}
#myCarousel {
    overflow: hidden;
}
p {
    color: rgb(0, 0, 0);
    font-size: 22px;
}
form>input,
select {
    margin: 10px 0;
}
h3{
    color:brown;
}
hr {
    border: 6px rgb(38, 175, 199) solid;
}

.navbar-default {
    background-color: #5d6368;
    border-color: #0f0f0e;
}

.navbar-default .navbar-brand {
    color: #0ae41c;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #180d0d;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #180d0d;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
    background-color: #091618;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
    color: #180d0d;
    background-color: #e0ea3a;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li.divider {
    background-color: #e0ea3a;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #180d0d;
    background-color: #e0ea3a;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #180d0d;
    background-color: #e0ea3a;
}

.navbar-default .navbar-toggle {
    border-color: #e0ea3a;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #e0ea3a;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #180d0d;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #180d0d;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #180d0d;
        background-color: #e0ea3a;
    }
}